# Node.js dependencies
node_modules/
.next/
out/
 
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.swn

# Build artifacts
dist/
*.log
*.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Misc
coverage/

