:root {
    --nav-text-size: 1.2rem;
}

.topbar {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar :first-child {
    margin-right: auto;
}

.navbar-home-icon {
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-home-icon img {
    height: 4rem;
    padding: 5px 0;  
    border-radius: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar-container a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--paragraph-font);
    font-size: var(--nav-text-size);
    color: black;
    font-weight: var(--semi-bold);
}

.navbar-container a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.button-donate {
    background-color: var(--donate-color);
    color: white;
    font-weight: var(--semi-bold);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.button-donate:hover {
    background-color: var(--donate-color-hover);
}

.hamburger-container {
    display: none;
    align-items: center;
    margin-left: 2rem;
}

@media (max-width: 650px) {
    .hamburger-container {
        display: flex;
    }

    .hideOnMobile {
        display: none;
    }
}