:root {
    --secondary-color: rgb(15, 121, 227);
    --nav-text: rgb(255, 255, 255)
;}

/* Main container of the navbar */
.topbarContainer {
    display: flex;
    justify-content: center; /* align everything inside the navbar vertically */
    height: 4rem;
    background-color: rgb(211, 229, 248);
}

.topbarContainer h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    font-family: "DM Serif Text", serif;;
}

  @media(max-width: 900px) {
    .hideOnMobile{
        display: none;
    }

    .hamburger {
        display: block;
    }
}

    @media(max-width: 400px) {
        .sidebar{
            width: 100%;
        }
    }
