
.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-web {
    background-color: var(--hero-bg-color);
    width: 90%;
    border-radius: 20px;
    margin-top: 1rem;
    display: flex;
}

.hero-section-web .hero-section-left {
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.hero-section-web .hero-section-right {
    width: 45%;
    padding: 2rem;
}

.hero-section-web .hero-section-left h1 {
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: var(--extra-bold);
    color: white;
    line-height: 1;
}

.hero-section-web .hero-section-left h2 {
    font-family: var(--section-header-font);
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.hero-section-web .hero-section-left p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: white;
}

.hero-section-web .hero-section-left-buttons {
    display: flex;
    flex-direction: row;
}

.button-volunteer {
    background-color: var(--volunteer-color);
    font-weight: var(--semi-bold);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.button-volunteer:hover {
    background-color: var(--volunteer-color-hover);
}

.hero-section-web .hero-section-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}








.hero-section-mobile {
    background-color: var(--hero-bg-color);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin: 1rem;
    gap: 1rem;
}

.hero-section-mobile h1 {
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: var(--extra-bold);
    color: white;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.hero-section-mobile img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
}

.hero-section-mobile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}   

.hero-section-mobile h2 {
    font-family: var(--section-header-font);
    font-size: 1rem;
    font-weight: var(--semi-bold);
    color: white;
    text-align: center;
}

.hero-section-mobile p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: white;
    text-align: center;
}

.hero-section-mobile img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-section-web {
        display: none;
    }
    .hero-section-mobile {
        display: flex;
    }
}





.accomplissements-section {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.accomplissements-section h2 {
    font-family: var(--section-header-font);
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    color: var(--section-header-color);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: var(--section-letter-spacing);
}

.accomplissements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.accomplissements-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.accomplissements-item p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--paragraph-color);
    text-align: center;
}

.accomplissements-item img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

@media (max-width: 768px) {
    .accomplissements-container {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
    }
    .accomplissements-item {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        gap: 1rem;
    }

    .accomplissements-item p {
        text-align: left;
    }
}

.mission-section-bg {
    width: 100%;
    background-color: var(--soft-blue-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-section-web {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.mission-images-container {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2rem;
    flex: 1 1 250px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.mission-images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
}

.mission-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    max-width: 700px;
}

.mission-text-container h2 {
    font-family: var(--section-header-font);
    font-size: 2rem;
    font-weight: var(--semi-bold);
    color: var(--section-header-color);
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: var(--section-letter-spacing);
    width: 100%;
}

.mission-text-container p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--paragraph-color);
}

.mission-text-p1 {
    margin-bottom: 1rem;
}

.mission-text-p2 {
    margin-top: 1rem;
}

.button-help-us {
    margin-top: 1rem;
    background-color: var(--highlight-blue-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: var(--section-header-font);
    font-weight: var(--semi-bold);
    font-size: 1rem;
}

.button-help-us:hover {
    background-color: var(--highlight-blue-color-hover);
}

.mission-section-mobile {
    display: none;
}

@media (max-width: 768px) {
    .mission-section-web {
        display: none;
    }
    .mission-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 0.5rem;
    }

    .mission-section-mobile h2 {
        font-size: 2rem;
        font-weight: var(--semi-bold);
        color: var(--section-header-color);
        text-align: center;
        letter-spacing: var(--section-letter-spacing);
    }

    .mission-section-mobile p {
        font-size: 1rem;
        color: var(--paragraph-color);
        text-align: center;
    }

    .mission-images-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 500px;
    }

    .mission-images-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}







.rechauffer-section {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.rechauffer-section-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rechauffer-section-left-text {
    display: flex;
    flex-direction: column;
    align-items: ce;
    justify-content: space-around;
    background-color: var(--second-blue-bg);
    padding: 2rem;
    border-radius: 25px;
    max-width: 500px;
}

.rechauffer-section-left h2 {
    font-family: var(--section-header-font);
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    color: white;
    margin-bottom: 1rem;
}

.rechauffer-section-left p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: white;
}

.rechauffer-section-right {
    width: 50%;
}

.rechauffer-section-right img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    max-height: 300px;
}

@media (max-width: 768px) {
    .rechauffer-section {
        flex-direction: column;
    }

    .rechauffer-section-right {
        width: 80%;
        order: 0;
    }

    .rechauffer-section-left {
        width: 100%;
        order: 1;
    }    
}